* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}

html, body {
    height: 100%; /* Ensure the body covers the full height of the viewport */
    touch-action: none;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Hide the scrollbar */
}

html::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Define rows for header, main, footer */
    grid-template-columns: 1fr; /* One column layout */
    grid-template-areas:
        "header" /* Header area */
        "main"   /* Main content area */
        "gallery" /* Picture showcase area */
        "footer"; /* Footer area */
  
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: auto; /* Allow vertical scrolling */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black; /* Use black background */
}

/*====================Header Area====================*/
header {
    grid-area: header; /* Assign header to the header area */
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 equal columns */
    grid-template-rows: auto; /* Rows will adjust automatically */
    color: white;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 150px;
    z-index: 11; /* Keep it above other content */
}

.header-text-container {
    justify-items: center; /* Centers items horizontally */
    align-items: center;   /* Centers items vertically */
    grid-template-columns: auto auto; /* Two columns for h1 and anchor (or more if needed) */
    gap: 20px; /* Optional: Adds space between items */
}

.header-text-container h1 {
    grid-column: 1; /* Occupy the first column */
}

.header-text-container a {
    grid-column: 2; /* Occupy the second column */
    color: white;
    text-decoration: none;
}

/* Nav */
nav {
    top: 0; /* Make it stay at the top */
    left: 0;
    right: 0;
    z-index: 12; /* Ensure it's above other elements */
    margin: 0;
    transition: transform 1s ease, opacity 0.5s ease; /* Smooth transition */
}

nav ol {
    justify-content: space-around; /* Spread the text evenly */
    display: flex; /* Use flexbox to ensure proper alignment */
    content: space-around; /* Spread items evenly when fixed */
    list-style: none; /* Removes the default bullets */
    margin: 0;
    padding: 0;
}

nav ol li p {
    transition: transform 0.5s ease;
}

nav ol li p:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

/* Initial state of the fade-in links */
.fade-in {
    opacity: 0; /* Start fully transparent */
    transition: opacity 5s ease-in; /* Smooth transition for opacity */
    pointer-events: none; /* Disable interaction */
}

/* Class to trigger the fade-in */
.fade-in.visible {
    opacity: 1; /* Fade in to fully visible */
    pointer-events: auto; /* Enable interaction when visible */
}

/*====================Main Area====================*/
main {
    grid-area: main; /* Assign main to the main area */
    display: flex; /* Use flexbox for the main area */
    flex-direction: column; /* Arrange children vertically */
    justify-content: flex-start; /* Align items to the top */
    align-items: center; /* Center items horizontally */
    position: relative; /* Positioning context for child elements */
    height: auto; /* Allow height to adjust based on content */
    margin-bottom: 100px;
}

.text-container {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    grid-template-rows: auto; /* Rows will adjust automatically */
    margin-left: 20%;

    color: white;
    letter-spacing: 4px;
}

.text-container h1{
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    width: 700px;
}

.text-container p{
    font-size: 20px;
    font-weight: 200;
    width: 700px;
}

.text-container iframe {
    margin-top: 30px;
    width: 700px;
    height: 400px;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container a {
    transition: transform 0.5s ease;
}

.social-container a:hover {
    transform: scale(1.2);
}

.social-container img {
    max-width: 100px;
}

.social-container p {
    margin: 20px;
}

/* 3D Container */
#container3D {
    display: flex; /* Ensures it uses flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: absolute; /* Set to absolute to position correctly */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    height: 100%; /* Allow it to fill available space */
    width: 100%; /* Allow it to fill available space */
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute; /* Position the canvas absolutely */
    top: 1;
    left: 0;
    z-index: 1; /* Behind other elements */
}

.circle-overlay {
    position: absolute; /* Position the circle absolutely */
    top: 50%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    width: 1000px; /* Set the desired width */
    height: 1000px; /* Set the desired height */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 0, 0, 0) 50%); /* Radial gradient for fading edges */
    border-radius: 50%; /* Make it circular */
    z-index: 0; /* Position below the container */
    transform: translate(-50%, -50%); /* Center the circle using transform */
}

/*====================3D Gallery Area====================*/
/* Keyframes for spinning animation */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    }
}

@keyframes spinRevert {
    from {
        transform: rotateY(360deg);
    } to {
        transform: rotateY(0deg);
    }
}

/* 3D Drag Container */

#drag-container, #spin-container {
    position: relative;
    display: flex; /* Use flex display */
    margin: auto; /* Center horizontally */
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: auto;
    object-fit: cover;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0 0 white;
    filter: drop-shadow(0 0 4px rgb(0, 0, 0)); /* Modern alternative to box-shadow */
    border-radius: 5px;
}

#drag-container img:hover, #drag-container video:hover {
    filter: drop-shadow(0 0 4px rgb(0, 0, 0)); /* On hover effect */
}

#drag-container h1 {
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 200;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

/*Gallery Selection*/
.gallerySelectionContainer {
    /* Make the selection container stick to the top of the page when scrolling down */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: black;
    
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 equal columns */
    grid-template-rows: auto; /* Rows will adjust automatically */
    width: 100%;
    justify-content: space-around; /* Spread the text evenly */
    margin-top: 230px;
    color: white;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 4px;
    z-index: 12; /* Keep it above other content */
}

.gallerySelectionContainer ol {
    justify-content: space-around; /* Spread the text evenly */
    content: space-around; /* Spread items evenly when fixed */
    list-style: none; /* Removes the default bullets */
    display: flex; /* Use flexbox to ensure proper alignment */
    margin: 0;
    padding: 0;
}

.gallerySelectionContainer ol li a {
    text-decoration: none;
}

.gallerySelectionContainer ol li p {
    color: white; /* Adjust color as needed */
    transition: transform 0.5s ease;
}

.gallerySelectionContainer ol li p:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

/*Gallery*/
.galleryContainer {
    grid-area: gallery;
    color: white;
    letter-spacing: 4px;
    text-align: center;
    padding: 50px;
    margin: 10px;
    
    z-index: 10; /* Keep it above other content */
}

.galleryRow {
    display: flex; /* Use flexbox for row layout */
    flex-wrap: wrap;
    gap: 10px; /* Add spacing between images */
    justify-content: center; /* Center the images */
    margin-bottom: 100px; /* Space below the row */
}

.galleryRow img {
    max-width: 100%;
    height: auto;
    object-fit:contain;
}

.galleryRow iframe {
    width: 1100px;
    height: 600px;
}

.galleryContainer img {
    display: grid;
    max-width: 600px;
    margin: 0;
    padding: 0;
}

.galleryContainer h2 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 40px;
    text-transform: uppercase;
    padding: 50px;
}

.glow {
    animation: glowAnimation 1s ease-in-out forwards, fadeOut 1s ease-in-out 3s forwards; /* Fade out after 3 seconds */
}

@keyframes glowAnimation {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
        opacity: 1; /* Keep the text fully visible */
    }
    100% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1);
        opacity: 1; /* Keep the text fully visible */
    }
}

@keyframes fadeOut {
    0% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
        text-shadow: none; /* Remove the glow */
    }
}

/*====================Footer Area====================*/
footer {
    grid-area: footer; /* Assign footer to the footer area */
    color: white;
    letter-spacing: 4px;
    text-align: center;
    padding: 0px;
    margin: 10px;
    grid-column: 1;
    margin-top: 100px;
    z-index: 10; /* Keep it above other content */
}
