/* Define default (dark) theme colors */
:root {
    --background-color: black;
    --text-color: white;
    --circle-color: rgba(255, 255, 255, 0.1);
    --highlight-color: rgba(0, 0, 0, 0.493);
    --link-color: white;
    --shadow-color: rgba(255, 255, 255, 0.5);
}

/* Define light theme colors */
[data-theme="light"] {
    --background-color: white;
    --text-color: black;
    --circle-color: rgba(0, 0, 0, 0.473);
    --highlight-color: rgba(0, 0, 0, 0.479);
    --link-color: black;
    --shadow-color: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}

html, body {
    height: 100%; /* Ensure the body covers the full height of the viewport */
    touch-action: none;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Hide the scrollbar */
    background-color: var(--background-color);
    color: var(--text-color);
}

html::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Define rows for header, main, footer */
    grid-template-columns: 1fr; /* One column layout */
    grid-template-areas:
        "header" /* Header area */
        "main"   /* Main content area */
        "gallery" /* Picture showcase area */
        "footer"; /* Footer area */
  
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: auto; /* Allow vertical scrolling */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color); /* Use variable for background */
    color: var(--text-color); /* Use variable for text */
}

#indexBody {
    height: 100%; 
    overflow: hidden;
}

/*====================Header Area====================*/
header {
    grid-area: header; /* Assign header to the header area */
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 equal columns */
    grid-template-rows: auto; /* Rows will adjust automatically */
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 150px;
    z-index: 11; /* Keep it above other content */
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.header-text-container {
    grid-template-columns: auto auto; /* Two columns for h1 and anchor (or more if needed) */
    gap: 20px; /* Optional: Adds space between items */
}

.header-text-container h1 {
    grid-column: 1; /* Occupy the first column */
}

.header-text-container a {
    grid-column: 2; /* Occupy the second column */
    color: var(--link-color);
    text-decoration: none;
}

#contactHeader {
    margin-bottom: 0px;
}

/* Nav */
nav {
    top: 0; /* Make it stay at the top */
    left: 0;
    right: 0;
    z-index: 12; /* Ensure it's above other elements */
    margin: 0;
    transition: transform 1s ease, opacity 0.5s ease; /* Smooth transition */
}

nav ol {
    justify-content: space-around; /* Spread the text evenly */
    display: flex; /* Use flexbox to ensure proper alignment */
    flex-wrap: wrap;
    content: space-around; /* Spread items evenly when fixed */
    list-style: none; /* Removes the default bullets */
    margin: 0;
    padding: 0;
}

nav ol li p {
    transition: transform 0.5s ease;
}

nav ol li p:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 20px var(--shadow-color);
}

/* Initial state of the fade-in links */
.fade-in {
    opacity: 0; /* Start fully transparent */
    transition: opacity 5s ease-in; /* Smooth transition for opacity */
    pointer-events: none; /* Disable interaction */
}

/* Class to trigger the fade-in */
.fade-in.visible {
    opacity: 1; /* Fade in to fully visible */
    pointer-events: auto; /* Enable interaction when visible */
}

/* Button container styling */
.theme-toggle-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Button styling */
#theme-toggle {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: -1px -1px 4px var(--shadow-color);
    transition: background-color 0.3s ease;
}

#theme-toggle::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#theme-toggle:hover {
    background-color: var(--link-color);
}

#theme-toggle:hover::after {
    content: attr(data-hover-text); /* Use the data-hover-text attribute */
    opacity: 1;
    color: #000; /* Change the color if needed */
}


/*====================Main Area====================*/
main {
    grid-area: main; /* Assign main to the main area */
    display: flex; /* Use flexbox for the main area */
    flex-direction: column; /* Arrange children vertically */
    justify-content: flex-start; /* Align items to the top */
    align-items: center; /* Center items horizontally */
    position: relative; /* Positioning context for child elements */
    height: auto; /* Allow height to adjust based on content */
    margin-bottom: 100px;
}

#galleryMain {
    margin-top: 100px;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container a {
    transition: transform 0.5s ease;
}

.social-container a:hover {
    transform: scale(1.2);
}

.social-container img {
    max-width: 100px;
}

/* 3D Container */
#container3D {
    display: flex; /* Ensures it uses flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: absolute; /* Set to absolute to position correctly */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    height: 100%; /* Allow it to fill available space */
    width: 100%; /* Allow it to fill available space */
    z-index: 1; /* Behind other elements */
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute; /* Position the canvas absolutely */
    top: 1;
    left: 0;
    z-index: 1; /* Behind other elements */
}

.circle-overlay {
    position: absolute; /* Position the circle absolutely */
    width: 1000px; /* Set the desired width */
    height: 1000px; /* Set the desired height */
    background: radial-gradient(circle, var(--circle-color) 0%, rgba(255, 0, 0, 0) 50%); /* Radial gradient for fading edges */    border-radius: 50%; /* Make it circular */
    z-index: 0; /* Position below the container */
}

#indexCircle {
    top: -210px;
}

#galleryCircle {
    top: -350px;
}

/*====================3D Gallery Area====================*/
/* Keyframes for spinning animation */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    }
}

@keyframes spinRevert {
    from {
        transform: rotateY(360deg);
    } to {
        transform: rotateY(0deg);
    }
}

/* 3D Drag Container */

#drag-container, #spin-container {
    position: relative;
    display: flex; /* Use flex display */
    margin: auto; /* Center horizontally */
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: auto;
    object-fit: cover;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0 0 var(--text-color);
    filter: drop-shadow(0 0 4px rgb(0, 0, 0)); /* Modern alternative to box-shadow */
    border-radius: 5px;
}

#drag-container img:hover, #drag-container video:hover {
    filter: drop-shadow(0 0 4px rgb(0, 0, 0)); /* On hover effect */
}

#drag-container h1 {
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 200;
    text-shadow: 0px 0px 20px var(--shadow-color);
}

/*Gallery Selection*/
.gallerySelectionContainer {
    /* Make the selection container stick to the top of the page when scrolling down */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    color: var(--link-color); 
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 equal columns */
    grid-template-rows: auto; /* Rows will adjust automatically */
    width: 100%;
    justify-content: space-around; /* Spread the text evenly */
    margin-top: 230px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 4px;
    z-index: 12; /* Keep it above other content */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5), 0px -4px 10px rgba(0, 0, 0, 0.5);
}

.gallerySelectionContainer ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Spread the text evenly */
    content: space-around; /* Spread items evenly when fixed */
    list-style: none; /* Removes the default bullets */
    display: flex; /* Use flexbox to ensure proper alignment */
    margin: 0;
    padding: 0;
}

.gallerySelectionContainer ol li a {
    text-decoration: none;
}

.gallerySelectionContainer ol li p {
    color: var(--link-color);
    transition: transform 0.5s ease;
}

.gallerySelectionContainer ol li p:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 20px var(--shadow-color);
}

.gallerySelectionButton img {
    width: auto; 
    margin: 0px; 
    padding: 0px; 
    height: 20px;
}

/*Gallery*/
.galleryContainer {
    grid-area: gallery;
    color: var(--text-color);
    letter-spacing: 4px;
    text-align: center;
    padding: 60px;
    margin: 10px;
    
    z-index: 10; /* Keep it above other content */
}

.photographyContainer img{
    width:400px;
    height: auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
}

.photographyContainer .landscape{
    width: 440px;
}

.graphicContainer img{
    width:400px;
    height: auto;
}

.galleryRowStack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.galleryRow {
    display: flex; /* Use flexbox for row layout */
    flex-wrap: wrap;
    gap: 10px; /* Add spacing between images */
    justify-content: center; /* Center the images */
    margin-bottom: 100px; /* Space below the row */
}

.galleryRow img {
    max-width: 100%;
    height: auto;
    object-fit:contain;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
}

.galleryRow iframe {
    width: 550px; height: 300px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
}

.galleryContainer img {
    display: grid;
    max-width: 600px;
    margin: 0;
    padding: 0;
}

.galleryContainer h2 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 40px;
    text-transform: uppercase;
    padding: 50px;
}

.glow {
    animation: glowAnimation 1s ease-in-out forwards, fadeOut 1s ease-in-out 3s forwards; /* Fade out after 3 seconds */
}

@keyframes glowAnimation {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
        opacity: 1; /* Keep the text fully visible */
    }
    100% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1);
        opacity: 1; /* Keep the text fully visible */
    }
}

@keyframes fadeOut {
    0% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
        text-shadow: none; /* Remove the glow */
    }
}

/*====================Contact Page====================*/
.text-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

/* Contact form */
.contactFormContainer {
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: left; /* Optional: Center align the text and button */
    width: 100%;
}

.contactForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px; /* Adds space between the form fields */
    width: 50%; /* Limit the form width */
    padding: 10px;
    
    background-color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

/* Styling the form labels */
.contactForm label {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;

    color: var(--background-color); /* Custom color for labels */
}

/* Styling text inputs */
.contactForm input[type="text"],
.contactForm input[type="email"] {
    font-size: 15px;
    font-weight: 400;
    
    background-color: var(--text-color);
    padding: 5px;
    border: 2px solid #ccc; /* Border style */
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
    transition: border-color 0.3s ease;
}

/* Styling the message text area */
.contactForm textarea {
    font-size: 15px;
    font-weight: 400;
    
    background-color: var(--text-color);
    padding: 5px;
    border: 2px solid #ccc;
    width: 100%;
    height: 150px; /* Sets a fixed height for the textarea */
    box-sizing: border-box;
    resize: vertical; /* Allows vertical resizing only */
    transition: border-color 0.3s ease;
}

/* Add a border color change on focus */
.contactForm input[type="text"]:focus,
.contactForm input[type="email"]:focus,
.contactForm textarea:focus {
    border-color: var(--highlight-color);
    outline: none; /* Remove default outline */
}

/* Styling the submit button */
.contactForm button {
    padding: 10px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* Button hover effect */
.contactForm button:hover {
    background-color: var(--highlight-color);
}

/*====================Footer Area====================*/
footer {
    grid-area: footer; /* Assign footer to the footer area */
    color: var(--text-color);
    letter-spacing: 4px;
    text-align: center;
    padding: 0px;
    margin: 10px;
    grid-column: 1;
    margin-top: 100px;
    z-index: 10; /* Keep it above other content */
}

#spacing-element {
    --spacing: 50px; /* or whatever value you want */
    --radius: 600px;
}

/*====================Mobile====================*/
@media screen and (max-width: 600px) {
    html, body {
        touch-action: auto; /* Allow scrolling */
        scrollbar-width: auto; /* Restore scrollbar visibility */
        overflow-x: hidden;
    }

    header {
        margin-bottom: 60px;
        background-color: var(--background-color);
    }
    
    #indexBody {
        height: 100%; 
    }

    #indexHeader {
        box-shadow: none;
        background-color: none;
    }

    #contactHeader {
        box-shadow: none;
        background-color: none;
    }
    
    .header-text-container { /* Enlarge header font */
        font-size: 20px;
        padding: 20px;
        letter-spacing: 3px;
    }

    #galleryMain {
        margin-top: 40px;
    }

    .gallerySelectionContainer {
        font-size: 20px;
        margin-top: 125px;
        margin-bottom: 200px;
        box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.5);
    }

    .gallerySelectionButton img {
        width: auto; 
        margin-right: 1px;
        height: 15px;

    }

    .gallerySelectionButton p {
        margin-right: 10px;
    }

    .galleryContainer {
        max-width: 350px;
        padding-top: 0px;
    }

    .galleryContainer img{
        max-width: 300px;
    }

    .galleryContainer h2 {
        font-size: 20px;
        letter-spacing: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .galleryRow {
        margin: 10px;
    }

    footer {
        padding: 20px;
    }
    
    html::-webkit-scrollbar {
        display: auto; /* Hide the scrollbar */
    }

    /* Contact Page */
    .contactForm {
        width: 80%; /* Limit the form width */
    }

    /* Container 3D */
    #container3D {
        padding-top: 200px;
    }

    /* Disable transforms */
    .gallerySelectionContainer ol li p:hover {
        transform: none;
        text-shadow: 0px 0px 0px rgb(255, 255, 255);
    }

    nav ol li p:hover {
        transform: scale(1.1);
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
    }

    /* Smaller gallery wheel */

    #drag-container, #spin-container {
        height: 200px;
    }
    
    #drag-container img, #drag-container video {
        height: 200px;
        width: auto;
    }

    #spacing-element {
        --spacing: 100px; /* or whatever value you want */
        --radius: 300px;
    }
    
    #galleryCircle {
        top: -450px;
    }
}
